#ignore all object files
*.o
fort.*
a.out
*.exe
*.DAT
*.dat
._.DS_Store
._psiint.f
#ignore executable
pimc
#ignore
TRIATOMIC-CODES/MPI-CODE-TEST/FINAL/b
TIME_PROPAGATION/JCP-90-4351-1989/fort*
/examples/linear_pigs/results/*
!/examples/linear_pigs/results/
/examples/linear_pigs/analyze.cc
/examples/linear_pigs/yw001.*
/examples/linear_pigs/#fort.7#
/examples/linear_pigs/*/
!/examples/linear_pigs/
